.labelInput {
  &:focus {
    border: inherit;
  }
  &[aria-invalid="true"] {
    border: 1px solid #f5333f;
  }

  &[aria-invalid="false"] {
    border: 1px solid #00b65f;
  }
  border: 1px solid #d9d9d9;

  &::placeholder {
    padding-left: 15px;
    color: #c8c6c6;
    font-size: 14px;
    font-weight: 400;
  }
}
