.toast {
  position: absolute;
  max-width: 290px;
  width: 100%;
  left: auto;
  top: 10px;
  right: 10px;

  :global(.Toastify__progress-bar--animated) {
    animation-direction: reverse;
  }

  :global(.Toastify__progress-bar) {
    transform-origin: left;
  }
}
