.createMain {
  width: 100%;
  background-color: #fff;
}
.sheduleWriter {
  width: 100%;
  height: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
  .writer {
    font-size: 16px;
    color: #000;
  }
  .writerProfile {
    width: 22px;
    height: 22px;
    margin-left: 15px;
    border-radius: 50%;
  }
  .writerName {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
  }
}
.titleIpt {
  width: 100%;
  padding: 15px;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
  input {
    width: 100%;
    padding: 20px 15px;
    font-size: 20px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
  }
  input:placeholder {
    font-size: 20px;
  }
  p {
    padding: 5px 15px;
    color: #ff0000;
    position: absolute;
    bottom: 0;
  }
}
.colorSelect {
  width: 100%;
  padding: 15px;
  text-align: left;
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #d9d9d9;
}
.colorFlex {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 16px;
  }
}
.colorBox {
  width: 18px;
  height: 12px;
  border-radius: 3px;
  &.red {
    background: #F5333F;
  }
  &.pink {
    background: #FB91A3;
  }
  &.orange {
    background: #FF9E18;
  }
  &.yellow {
    background: #FFD235;
  }
  &.mint {
    background: #00B392;
  }
  &.blue {
    background: #3FA9F5;
  }
  &.gray {
    background: #7BA0C4;
  }
}
.colorTitle {
  width: calc(100% - 18px);
  height: 40px;
  padding-right: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: left;
  white-space: nowrap;
}
.val {
  min-width: 160px;
  width: auto;
  height: 40px;
  padding: 0 15px;
  color: #000;
  text-align: center;
  line-height: 28px;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  &.colorBox {
    width: 18px;
    height: 12px;
    border-radius: 3px;
    background: #3FA9F5;
  }
}
.selectName {
  margin-left: 10px;
}
.selectIcon {
  line-height: 36px;
  position: absolute;
  right: 11px;
  top: 5px;
  cursor: pointer;
}
.colorList {
  width: calc(100% - 230px);
  height: auto;
  position: absolute;
  top: 65px;
  right: 15px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  z-index: 10;
  &.hidden {
    display: none;
  }
  &.view {
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.selectOption {
  width: 100%;
  padding-left: 15px;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover {
    background: #F8FCFF;
  }
}
.selectOption {
  width: 100%;
  height: 40px;
  padding-left: 15px;
  position: relative;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
  &.colorBox {
    width: 18px;
    height: 12px;
    border-radius: 3px;
    background: #3FA9F5;
  }
  &.listName {
    margin-left: 10px;
  }
}

.toggleArea {
  width: 100%;
  padding: 20px 15px;
  border-bottom: 1px solid #d9d9d9;
}

.toggleStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  h3 {
    display: inline-block;
    font-size: 16px;
  }
  .toggleBar {
    width: 44px;
    height: 20px;
    position: relative;
    background-color: #D9D9D9;
    border-radius: 20px;
    appearance: none;
  }
  .toggleBar::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 2px 0px 1.9px -1px rgba(0, 0, 0, 0.25);
    transition: left 200ms linear;
  }
  .toggleBar:checked::before {
    left: 26px;
    background-color: #fff;
    box-shadow: -2px 0px 1.9px 1px rgba(0, 0, 0, 0.25);
  }
  .toggleBar:checked {
    background: #3FA9F5;
    border: 0;
  }
}

.calendar {
  width: 100%;
  padding: 20px 15px;
  border-bottom: 1px solid #d9d9d9;
}
.pickerGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:first-child {
    margin-bottom: 15px;
  }
}
.datePicker {
  width: 200px;
  padding: 15px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}
:global(.react-datepicker-popper) {
  left: 21px !important;
}


.customDropdown {
  width: 80px;
  position: relative;
}
.selectedTime {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.arrowIcon {
  height: 18px;
  display: block;
}
.timeOptions {
  position: absolute;
  top: 52px;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  z-index: 10;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3FA9F5;
    border-radius: 12px 12px 12px 12px;
  }
  &::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
}

.timeOption {
  height: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
.timeOption:hover {
  background-color: #f0f0f0;
}

.address {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px 15px;
  border-bottom: 1px solid #d9d9d9;
  h3 {
    font-size: 16px;
  }

  div {
    position: relative;
    
    border-radius: 10px;
    flex: 1;
    border: 1px solid #d9d9d9;
    text-align: left;
    word-break: keep-all;
    line-height: 1.3;
  }
  button {
    text-align: left;
    word-break: keep-all;
    line-height: 1.3;
    padding: 10px 25px 10px 10px;
  }

  .addressAddBtn {
    width: 100%;
  }

  .cancelBtn {
    position: absolute;
    right: 5px; top: 50%;
    transform: translateY(-50%);
    padding: 0;
    z-index: 10;
  }

  .addressBtn {
    color: #d9d9d9;
  }

  .addressUpdateBtn {
    color: #000;
  }
}

.meMo {
  width: 100%;
  padding: 20px 15px;
  border-bottom: 1px solid #d9d9d9;
  h3 {
    font-size: 16px;
  }
  .textArea {
    width: 100%;
    height: 100px;
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    resize: none;
  }
  .memoCount {
    font-size: 13px;
    text-align: right;
  }
}
.modalInputWrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  
  label {
    flex-grow: 1;
  }

  button {
    height: 40px;
  }
}
.addressLabel {
  display: block;
  font-size: 0.85rem;

  &.detail {
    margin-bottom: 20px;
  }
}

.addressInput {
  height: 40px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  &:focus {
    outline: none;
  }

  &.detail {
    width: 100%;
  }
}

.addressList {
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 5px;
  gap: 10px;
  font-size: 0.85rem;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: scroll;
  border-bottom: 1px solid #d9d9d9;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #3FA9F5;
    border-radius: 12px 12px 12px 12px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.addressListItem {
  cursor: pointer;

  p {
    color: #777;
  }
}

.addressData {
  display: block;
  font-style: normal;
  font-size: 0.9rem;
  margin-bottom: 10px;

  &.showAddressDetail {
    margin-bottom: 10px;
  }
  &.hideAddressDetail {
  margin-bottom: 20px;
  }
}

.btnWrap {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.modalBtn {
  max-width: 110px;
  width: 100%;
  font-size: 0.85rem;
}
