.calendarWrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.calendar {
  height: 100%;
  flex-grow: 1;

  :global(.react-calendar__viewContainer) {
    height: 100%;
    background-color: white;
  }
  :global(.react-calendar__month-view) {
    height: 100%;
    > div {
      height: 100%;
      > div {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
    }
  }
  :global(.react-calendar__month-view__days) {
    flex-grow: 1;
  }

  :global(.react-calendar__month-view__weekdays) {
    text-align: center;
    background-color: #f8f8f8;
    font-size: 12px;
    padding: 6px 0;
    /* 토요일 스타일 */
    :global(.react-calendar__month-view__weekdays__weekday:nth-child(7n)) {
      color: #3b82f6;
    }

    /* 일요일 스타일 */
    :global(.react-calendar__month-view__weekdays__weekday:nth-child(7n + 1)) {
      color: #ef4444;
    }

    abbr {
      text-decoration: none;
    }
  }

  :global(.react-calendar__month-view__days__day--neighboringMonth) {
    color: #d9d9d9;

    .events {
      opacity: 0.5;
    }
  }
}

/* 토요일 스타일 */
.sunday {
  color: #ef4444;
}

/* 일요일 스타일 */
.saturday {
  color: #3b82f6;
}

.currentDay {
  abbr {
    background-color: #263140;
    color: white;
  }
  background-color: #F2F7FD;
}

.navigation {
  display: flex;
  margin: 0 0 10px;
  padding: 10px 10px 0;
  align-items: center;
  gap: 10px;

  .currentDate {
    display: block;
    width: 90px;
    font-weight: 700;
    line-height: 20px;
  }

  .btnWrap {
    display: flex;
    padding: 3px;
    gap: 3px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    overflow: hidden;

    .btn {
      text-indent: -9999px;
      font-size: 0;
      width: 20px;
      height: 20px;
      background: url(../../../assets/images/calendar/nav_arrow_btn.png)
        no-repeat center center;
    }

    .nextBtn {
      transform: rotate(180deg);
    }
  }
}

:global(.react-calendar__tile) {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  gap: 7px;
  align-items: center;

  abbr {
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 100%;
    font-size: 12px;
  }
}
.eventsWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 0.59;
  gap: 5px;
  position: relative;
  overflow: hidden;

  // .plus {
  //   position: absolute;
  //   right: 0; bottom: 2px;
  //   display: block;
  //   width: 15px; height: 15px;
  //   background-color: white;
  //   color: #222;
  //   padding: 3px;
  //   border-radius: 3px;
  //   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  //   z-index: 100;
  //   font-size: 0.8rem;
  // }

  .events {
    width: 100%;
    font-size: 0.8rem;
    height: 20px;
    position: absolute;

    p {
      display: block;
      padding: 3px 5px;
      line-height: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &:not(.yellow) {
      color: white;
    }
  }

  .red {
    background-color: #f5333f;
  }

  .blue {
    background-color: #3fa9f5;
  }
  .orange {
    background-color: #ff9e18;
  }
  .gray {
    background-color: #7ba0c4;
  }
  .pink {
    background-color: #fb91a3;
  }
  .mint {
    background-color: #00b392;
  }
  .yellow {
    background-color: #ffd235;
    color: #000;
  }

  .sections {
    flex-grow: 0.4;
  }
}
