main {
  width: 100%;
  .h1 {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
    color: #57b3f6;
    margin-top: 160px;
    & img {
      margin-bottom: 40px;
    }
  }
  & a {
    max-width: 240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 203px;
  }
}
